@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');
/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
/* in index.css or global.css */
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@700&family=Silkscreen&family=Urbanist:wght@700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


.stroke-text {
  -webkit-text-stroke: 1px #007E87;
  color: #B5FFF9;
  letter-spacing: 0.05rem;
}
.text-outline {
  color: #F2FFFA; 
  font-family: 'Poppins', sans-serif;
  font-size: inherit;
-webkit-text-stroke: 1.2px #1D3D33; 
  letter-spacing: 0.02em;
}
.font-quint {
  font-family: 'Quintessential', cursive;
}
html
{
  scroll-behavior: smooth;
}

